<main>
    {{#if hasProducts }}
    <div class="grid">
        {{#each prods}}
        <article class="card">
            <header class="card__header">
                <h1 class="product__title">Title:</h1>
                <span>{{ this.title }}</span>
            </header>
            <div class="card__image">
                <img src="https://source.unsplash.com/RrhhzitYizg/150x350" alt="books">
            </div>
            <div class="card__content">
                <h2 class="product__price">Price:</h2>
                <span>£{{this.price}}</span>
                <h2 class="product__description">Description:</h2>
                <span>{{this.description}}</span>
                <h2 class="product__imageUrl">Image URL:</h2>
                <span>{{this.imageUrl}}</span>
            </div>
            <div class="card__actions">
                <button class="btn"><a href="/admin/edit-product">Edit Product</a></button>
                <form action="/admin/delete-product" type='POST'>
                    <button type="submit" class="btn">Delete Product</button>
                </form>
            </div>
        </article>
        {{/each}}
    </div>
    {{ else }}
    <h1>No Products...</h1>
    {{/if}}
</main>